* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    /* Colors */
    --bg-primary-color: #0c0c0c;
    --text-primary-color: #f0f0f0;
    --border-primary-color: #333333;
    --bg-fill-color: #e9f0e9;

    /* Spacing Variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border-Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;  
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section {
    height: 100%;
    width: 100%;
}

section {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color); 
    border-radius: var(--border-radius-sm);       
}
.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(80px,1fr));
}
.block{

    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--text-primary-color);
}